%div{id: dom_id(task)}
  %p
    %strong Name:
    = task.name

  %p
    %strong Description:
    = task.description

  %p
    %strong Due date:
    = task.due_date

  %p
    %strong Category:
    = task.category_id

