/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /* Colores estilo Buk / Moderno */
:root {
  --bs-primary: #2c3e50;
  --bs-primary-rgb: 44, 62, 80;
}

.btn-primary {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-primary:hover {
  background-color: #1a252f;
  border-color: #1a252f;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.participants-container .nested-fields {
  transition: all 0.3s ease;
}

.participants-container .nested-fields:hover {
  border-color: #0d6efd !important; /* El azul de Bootstrap */
  background-color: #f8f9fa !important;
}
